{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}



{% block body %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form method="post" action="{{ path('resetPassword') }}">

                <div >
                    <label for="">Mot de passe</label>
                    <input class="form-control" placeholder="Saisissez votre mot de passe" type="password" name="password">
                    <a href="{{ path('forgotPassword') }}">Mot de passe oublié?</a>
                </div>
                <div >
                    <label for="">Confirmation de Mot de passe</label>
                    <input class="form-control" placeholder="Saisissez votre mot de passe" type="password" name="confirm_password">
                </div>

                <button class="btn btn-primary mt-4" type="submit">Confirmer</button>
            </form>
        </div>
    </div>

{% endblock %}

